body {
    background-color: #131517;
}
h1, h2, h3 {
    color: #d1d3e3;
}

select {
    color: #d1d3e3;
    background-color: #131517;
}

.params {
    margin: 1% auto;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 800px;
    padding: 20px;
}

.title_params {
    display: inline-block;
    margin-left: 5%;
    color: #d1d3e3;
}

.select_params, .select_displacement_factor {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title_displacement_factor {
    display: inline-block;
    margin-left: 5%;
}

.Answer {
    text-align: center;
    color: #d1d3e3;
    font-size: 1.3em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.input_and_btn {
    padding: 10px;
    margin: 1%;
    background-color: #252e38;
    color: #d1d3e3;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #2484f2;
    font-size: 1.3em;
    width: 350px;
}

.input_and_btn.btn {
    cursor: pointer;
    width: 250px;
}

.input_and_btn.btn:hover {
    color: #fff;
    background-color: #2285f5;
}

.wheel_diameter {
    text-align: center;
}

#hidden_div_1 {
    display: none;
    text-align: center;
}

#hidden_div_2 {
    display: none;
    text-align: center;
}

#kinematic_div {
    display: none;
    text-align: center;
}

#power_div {
    display: none;
    text-align: center;
}

#kinematic_factor_div {
    display: none;
    text-align: center;
}

#power_factor_div {
    display: none;
    text-align: center;
}